body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    font-optical-sizing: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* width:1600px; */
}

.container{
    flex: 1;
}

.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: #fe424d;
    font-size: 3rem;
}

.nav-link {
    color: #222222 !important;
}

/* Footer */
.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
    width: 100%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info {
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    height: 8rem;
    align-items: space-evenly;
}

.f-info-links a:hover {
    text-decoration: underline;
}

/* Cards */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    width: 100% !important;
    border-radius: 1rem !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text {
    font-size: 400 !important;
}

.listing-link {
    text-decoration: none;
}

/* Card Effect */

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* Edit Form */
.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* Show Page */
.show-img{
    width: 70vh !important; 
    height: 30vh;
}

/* added by me: width: 80vh !important; */

.btns{
    display: flex;
}

.show-card{
   padding-left: 0;
   padding-right: 0;
}